:root {
  --bg-color: white;
  --text-color: black;
  --box-bg-color: white;
  --add-btn-bg-color: rgb(90, 90, 140);
  --add-btn-color: rgb(240, 240, 240);
}

* {
  color: var(--text-color);
}

html {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dream-input {
  font-size: large;
  background-color: var(--bg-color);
  height: 300px;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.date {
  right: 0px;
  width: fit-content;
}

button:hover {
  cursor: pointer;
}

#buttons {
  margin: 0px 30px;
}

#add {
  position: relative;
  border: 0px !important;
  background-color: var(--add-btn-bg-color);
  color: var(--add-btn-color);
  left: 0px;
  top: 0px;
  width: 96%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  font-size: large;
  overflow: hidden;
  transition: all 0.3s;
}

#switch {
  position: relative;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  top: 0px;
  font-size: large;
  overflow: hidden;
  transition: all 0.3s;
}

#no-dreams {
  position: relative;
  text-align: center;
  font-weight: lighter;
}

#add-dream {
  position: relative;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  height: 450px;
  background-color: var(--box-bg-color);
  padding: 5px 30px;
  margin: 5px 0px;
}

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#date-submit {
  position: relative;
  padding: 20px 10px;
  width: auto;
  text-align: right;
}

#submit-btn {
  background-color: var(--bg-color);
}

#submit-btn:hover {
  cursor: pointer;
}

#date-input {
  margin: 0px 10px;
  background-color: var(--bg-color);
}

.hidden {
  height: 0px !important;
  transition: all 0.3s ease;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dream {
  position: relative;
  border: 2px solid var(--text-color);
  margin: 20px 30px;
  animation: fade-in 0.5s linear;
  max-height: 2000px;
  transition: all 0.5s linear;
}

.dream-text {
  padding: 0px 10px;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 5px 0px;
  text-align: justify;
}

.trash-btn {
  position: absolute;
  font-size: large;
  color: darkred;
  top: 10px;
  right: 20px;
}

.trash-btn:hover {
  color: rgb(201, 34, 34);
}

.date {
  margin: 9px 0px;
  padding: 0px 10px;
  font-weight: 300;
  font-size: 0.9rem;
}

#close-btn {
  font-size: larger;
  color: darkred;
  position: absolute;
  top: 23.72px;
  right: 30px;
}

#close-btn:hover {
  color: rgb(201, 34, 34);
}
